body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#game-div {
    border: 1px solid #ccc;
}

.snake-block {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
}

.food-block {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
}